{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}?{% now 'U' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

</head>

<body>
    {% if request.user.is_authenticated %}
    <div class="header">
        <nav>
            <ul>
                {% include 'navbar.html' %} <!-- Include the navbar here -->

            </ul>
        </nav>
    </div>
    {% include 'sidebar.html' %}
    {% endif %}
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
    </footer>
    <script src="{% static 'js/base.js' %}"></script>
</body>

</html>