{% extends 'base.html' %}

{% block content %}
  <div class="project-form">
    <h2>Create a New Project</h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        {{ form.project_form.project_name.label_tag }}
        {{ form.project_form.project_name }}
      </div>
      <div class="form-group">
        {{ form.project_form.project_description.label_tag }}
        {{ form.project_form.project_description }}
      </div>

      <div class="form-group">
        {{ form.project_form.start_date.label_tag }}
        {{ form.project_form.start_date }}
      </div>

      <div class="form-group">
        {{ form.project_form.end_date.label_tag }}
        {{ form.project_form.end_date }}
      </div>
      <button type="submit" class="create_projectbtn" >Create Project</button>
    </form>
  </div>
  <style>
    body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

  </style>
{% endblock %}
