<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>
</head>

<body>
    <h1>Sign Up</h1>

    <form method="post">
        {% csrf_token %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}


        {{ form.name.label_tag }}
        {{ form.name }}

        {{ form.email.label_tag }}
        {{ form.email }}

        {{ form.password1.label_tag }}
        {{ form.password1 }}

        {{ form.password2.label_tag }}
        {{ form.password2 }}

        <button type="submit">Sign Up</button>
    </form>

    <a href="{% url 'login' %}">Login</a>
</body>

</html>