{% extends 'base.html' %}

{% block content %}

<style>
  body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}


.ticket-list-container {
  max-width: 1200px;
  width: 90%; 
  margin-top: 50px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-size: 15px;
}

h2 {
  color: #0d171e;
}

.ticket-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust the minmax values as needed */
  gap: 20px; /* Adjust the gap between items */
  padding: 0;
}

.ticket-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.ticket-title {
  text-decoration: none;
  color: #3498db;
  display: block;
  padding: 10px;
  background-color: #0d2d46;
  color: #fff;
  text-align: center;
}

.ticket-details {
  padding: 10px;
}

.ticket-details p {
  margin: 5px 0;
}

.ticket-details strong {
  margin-right: 5px;
}
</style>

<div class="layout__boxTitle">
</div>

<div class="ticket-list-container">
  <h2>● Task List</h2>
  <ul class="ticket-items">
    {% for ticket in tickets %}
      <li class="ticket-item">
        <div class="ticket-header">
          <strong>
            <a href="{% url 'ticket' ticket.tm_task_info.tm_task_info_id %}" class="ticket-title">{{ ticket.tm_task_info.task_title }}</a>
          </strong>
        </div>
        <div class="ticket-details">
          <p><strong>Description:</strong> {{ ticket.tm_task_info.task_description }}</p>
          <p><strong>Reporter:</strong> {{ ticket.tm_task_info.created_by }}</p>
          <p><strong>Assignee:</strong> {{ ticket.tm_task_info.modified_by }}</p>
          <p><strong>Type:</strong> {{ ticket.tm_task_type }}</p>
          <p><strong>Priority:</strong> {{ ticket.tm_priority }}</p>
          <p><strong>Start Date:</strong> {{ ticket.tm_task_info.start_date }}</p>
          <p><strong>End Date:</strong> {{ ticket.tm_task_info.end_date }}</p>
          <p><strong>Status:</strong> {{ ticket.tm_status }}</p>
          <p><strong>Project Title:</strong> {{ ticket.tm_project }}</p>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
<style>
  body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
}
</style>

{% endblock %}