{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}?{% now 'U' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

</head>

<body>
    {% if request.user.is_authenticated %}
    <header>
        <div class="xyz">
         
        </div>
        <nav>
            <ul>
                {% include 'navbar.html' %} <!-- Include the navbar here -->

            </ul>
        </nav>
    </header>
    {% include 'sidebar.html' %}
    {% endif %}
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
    </footer>
    <script>
        document.addEventListener('click', function (event) {
            var dropdownMenu = document.getElementById("dropdownMenu");
            var userArea = document.querySelector(".user-info");

            if (!userArea.contains(event.target)) {
                dropdownMenu.style.display = "none";
            }
        });

        function toggleDropdown() {
            var dropdownMenu = document.getElementById("dropdownMenu");
            dropdownMenu.style.display = (dropdownMenu.style.display === "block") ? "none" : "block";
        }
    </script>
</body>

</html>