{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="home-container">
        <div id="ticket-table">
            <h3 id="taskss">TASKS</h3>
            <div class="table-wrapper" id="myTable">
                <table>
                    <form method="post" action="{% url 'home' %}">
                        {% csrf_token %}
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Reporter</th>
                                <th>Assignee</th>
                                <th>Type</th>
                                <th>Priority</th>
                                <th>ETA</th>
                                <th>Status</th>
                                <th>Project</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for task in tm_tasks %}

                            {% if tm_task_info_form.instance.tm_task_info_id == task.tm_task_info.tm_task_info_id %}

                            {% include 'save_ticket.html' %}

                            {% else %}
                            
                            <tr class="rows">
                                <td data-url="{% url 'ticket' task.tm_task_id %}" class="clickable-cell">{{ task.tm_task_info.task_title }}
                                </td>
                                <td contenteditable="true" class="editable-cell">{{ task.tm_task_info.created_by }}
                                </td>
                                <td>{{ task.tm_task_info.modified_by }}</td>
                                <td>{{ task.tm_task_type }}</td>
                                <td>{{ task.tm_priority }}</td>
                                <td>{{ task.tm_task_info.end_date }}</td>
                                <td class="status-cell" id="rowId" data-status="{{ task.tm_status }}"> {{ task.tm_status }} </td>
                                <td>{{ task.tm_project }}</td>
                                <td>{{ task.actions }}
                                    {% if request.user == task.tm_task_info.created_by %}
                                    <button formnovalidate name="edit" id="edit"
                                        value="{{ task.tm_task_id }}">Edit</button>
                                        {% endif %}
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </form>
                </table>
            </div>
        </div>
    </div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var clickableCells = document.querySelectorAll('.clickable-cell');
        var editableCells = document.querySelectorAll('.editable-cell');

        clickableCells.forEach(function (cell) {
            cell.addEventListener('click', function () {
                var url = this.getAttribute('data-url');
                window.location.href = url;
            });
        });

        editableCells.forEach(function (cell) {
            cell.addEventListener('click', function () {
                console.log('Editable cell clicked:', this.textContent);
            });
        });
    });

   

</script>


{% endblock %}